.button {
  background-color: #466efe;
  color: #f4f3f7;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.5rem;
  padding: 0.8rem 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out, transform 0.2s ease-in-out;
}

.button:hover {
  background-color: #474747;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.15);
}

.register-link {
  color: #466efe;
  align-self: center;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 5px;
  width: 300px;
  text-decoration: underline;
  
}
.register-link:hover{
  transition: 0.5s;
  color: #474747;
  text-decoration: none;
}
.tg-logo{
  color: #fff;
}
h2 {
  display: block;
  font-size: 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 700;
}

#block-authorization h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 1.2rem;
}
#block-authorization label {
  font-weight: 500;
  font-size: 0.9rem;
}
#block-authorization {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  padding: 30px 50px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 400px;
  transition: transform 0.3s ease-in-out;
  margin: 0 auto; /* Центрирование */
}
#block-authorization:hover {
  transform: translateY(-5px);
}

.authorization-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
@media (max-width: 400px) and (max-height: 700px)  {
#block-authorization {
    max-width: 350px;
}
}
.prefix {
  padding: 10px 12px;
  display: flex;
  /* margin-right: 0.8rem; */
  border: 1px solid #ccc;
  border-radius: 10px 0 0 10px;
  margin-bottom: 0px;
}

.phone-container {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden; /* Скрываем внутренние границы */
  background: #d9d9d9;
}

.phone-container input {
  width: 100%;
  border-left: none;
  border-radius: 0 10px 10px 0;
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  transform: none;
}

.button:disabled:hover {
  background-color: #cccccc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transform: none;
}
