@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Metrophobic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@-webkit-keyframes bg-pan-tr {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg-pan-tr {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(135deg, #cc9fff, #a885d7); */
  background-color: #fff;
  color: black;
  font-weight: 700;
  font-style: bold;
  font-family: "Montserrat", sans-serif;
  -webkit-animation: bg-pan-tr infinite alternate 5s both;
  animation: bg-pan-tr infinite alternate 5s both;
  background-size: 100% 300%;
}

#header a {
  color: black;
}

#header a:hover {
  -webkit-animation: text-shadow-drop-bl 0.8s both;
}

a {
  color: #a885d7;
  text-decoration: none;
  transition: color 1s;
}

a:hover {
  color: #6f00ff;
  cursor: pointer;
  text-shadow: 0 5px 4px rgba(0, 0, 0, 0.2);
  transition: text-shadow 0.7s, color 0.7s;
}

input:focus::placeholder {
  font-weight: 400;
}

input {
  background-color: #d9d9d9;
  font-weight: 400;
  font-style: normal;
  font-family: "Montserrat", sans-serif;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #474747;
  outline: none;
  margin-bottom: 0px;
}

input:focus {
  font-weight: 600;
  color: #000;
  border: 2px solid #a885d7;
}

label {
  margin-bottom: 1px;
  font-size: 1em;
}

.tg-logo {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
