.policy-text {
margin: 4% 5% 4%;
font-weight: 500;
}
.policy-text p {
    font-size: 12px;
    margin: 0 auto;
}

.policy-text h4 {
    font-size: 14px;
    margin-bottom: 2px;
    margin-top: 12px;
}

.policy-text h5 {
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 12px;
}

p.bold{
    font-weight: 750;
}